# DATA COMPILATION OF GBV TWEETS EXTRACTED

In [1]:
import os

def get_filepaths(directory):
    """
    This function will generate the file names in a directory 
    tree by walking the tree either top-down or bottom-up. For each 
    directory in the tree rooted at directory top (including top itself), 
    it yields a 3-tuple (dirpath, dirnames, filenames).
    """
    file_paths = []  # List which will store all of the full filepaths.

    # Walk the tree.
    for root, directories, files in os.walk(directory):
        for filename in files:
            # Join the two strings in order to form the full filepath.
            filepath = os.path.join(filename)
            file_paths.append(filepath)  # Add it to the list.

    return file_paths  # Self-explanatory.

# Run the above function and store its results in a variable.   
file_names = get_filepaths("/Users/Mrs Omokhafe/Documents/data")

In [2]:
print(file_names)

['#childmarriage_tweets.csv', '#childtrafficking_tweets.csv', '#domesticviolence_tweets.csv', '#forcedmarriage_tweets.csv', '#GBV_tweets.csv', '#harass_tweets.csv', '#rape_tweets.csv', '#sexism_tweets.csv', '#sextrafficking_tweets.csv', '#sexualabuse_tweets.csv', '#sexualassault_tweets.csv', '#sexualharassment_tweets.csv', '#sexualviolence_tweets.csv']

In [3]:
from tqdm import tqdm
import pandas as pd

In [4]:
"""
This loop reads the content of different files
into a DataFrame and apend to a single list.
"""
  
frame = []
for f in tqdm(file_names):
    path = 'data/' + f
    var = f.split('_')[0]
    col_name = var.split('#')
    col_name = pd.read_csv(path)
    frame.append(col_name)
print(frame)

100%|██████████████████████████████████████████████████████████████████████████████████| 13/13 [00:01<00:00,  8.47it/s]

[     Unnamed: 0                                             Tweets  \
0             0  b'We join @IKWRO, @KNFMHBV &amp; other signato...
1             1  b'This is a pressing issue that requires a res...
2             2  b'RT @GirlsNotBrides: By ending #childmarriage...
3             3  b'We work on amplifying #YOUTH voices against ...
4             4  b'RT @unwomenlebanon: In \xf0\x9f\x87\xb1\xf0\...
..          ...                                                ...
649         649  b'RT @UnchainedAtLast: Female genital mutilati...
650         650  b"RT @UnchainedAtLast: #ChildMarriage has deva...
651         651  b'RT @UnchainedAtLast: Did you know that #chil...
652         652  b'RT @AbirajNesha: 46 #US States permit #child...
653         653  b'RT @UnchainedAtLast: The U.S. @StateDept cal...

                      id  lens                 date place  coordinateS lang  \
0    1390637761082888193   290  2021-05-07 12:00:53   NaN          NaN   en
1    1390632539870609411   153  2021-05-07 11:40:08   NaN          NaN   en
2    1390625672201183232   140  2021-05-07 11:12:51   NaN          NaN   en
3    1390604516295430149   299  2021-05-07 09:48:47   NaN          NaN   en
4    1390596270490800128   140  2021-05-07 09:16:01   NaN          NaN   en
..                   ...   ...                  ...   ...          ...  ...
649  1387822107879411715   140  2021-04-29 17:32:29   NaN          NaN   en
650  1387822001465827332   140  2021-04-29 17:32:04   NaN          NaN   en
651  1387821846465323009   140  2021-04-29 17:31:27   NaN          NaN   en
652  1387821491224465411   140  2021-04-29 17:30:02   NaN          NaN   en
653  1387821286538326019   140  2021-04-29 17:29:13   NaN          NaN   en

                  source  likes  retweets            location
0                 Buffer      0         0                  UK
1            NbM Tweeter      0         0                 NaN
2     Twitter for iPhone      0         9                 NaN
3    Twitter for Android      3         0                 NaN
4        Twitter Web App      0        21                 NaN
..                   ...    ...       ...                 ...
649      Twitter Web App      0         7  Massachusetts, USA
650      Twitter Web App      0         8  Massachusetts, USA
651      Twitter Web App      0        25  Massachusetts, USA
652      Twitter Web App      0        13  Massachusetts, USA
653      Twitter Web App      0         8  Massachusetts, USA

[654 rows x 12 columns],      Unnamed: 0                                             Tweets  \
0             0  b'Though #ChildTrafficking is an issue that\xe...
1             1  b'When children and teens under 18 are recruit...
2             2  b"We want to see #Trafficked included as an #A...
3             3  b'RT @arijitbarman76: When @DevinaET 1st wrote...
4             4  b'RT @priti_patkar: Traffickers prey children ...
..          ...                                                ...
390         390  b'RT @IOMJamaica: #ChildTrafficking is the Rec...
391         391  b'RT @IOMJamaica: #ChildTrafficking is the Rec...
392         392  b'RT @IOMJamaica: #ChildTrafficking is the Rec...
393         393  b'RT @InstituteUMSSW: @UMBaltimore Dr. Nadine ...
394         394  b'RT @InstituteUMSSW: @UMBaltimore Dr. Nadine ...

                      id  lens                 date  place  coordinateS lang  \
0    1390639308889944075   148  2021-05-07 12:07:02    NaN          NaN   en
1    1390637754111889408   279  2021-05-07 12:00:52    NaN          NaN   en
2    1390636685063598084   279  2021-05-07 11:56:37    NaN          NaN   en
3    1390627117537267719   140  2021-05-07 11:18:36    NaN          NaN   en
4    1390626690359988224   140  2021-05-07 11:16:54    NaN          NaN   en
..                   ...   ...                  ...    ...          ...  ...
390  1387846228394795011   140  2021-04-29 19:08:20    NaN          NaN   en
391  1387845139364679680   140  2021-04-29 19:04:00    NaN          NaN   en
392  1387844992316678144   140  2021-04-29 19:03:25    NaN          NaN   en
393  1387823737366528005   140  2021-04-29 17:38:58    NaN          NaN   en
394  1387823502414209032   140  2021-04-29 17:38:02    NaN          NaN   en

                   source  likes  retweets       location
0         Twitter Web App      0         0          India
1                  Buffer      0         0    Houston, TX
2     Twitter for Android      2         0             UK
3    Flamingo for Android      0         5            NaN
4     Twitter for Android      0         6            NaN
..                    ...    ...       ...            ...
390    Twitter for iPhone      0         3       Jamaica
391         Twheater_live      0         0            NaN
392    Twitter for iPhone      0         3        Jamaica
393       Twitter Web App      0         1  Baltimore, MD
394       Twitter Web App      0         2  Baltimore, MD

[395 rows x 12 columns],       Unnamed: 0                                             Tweets  \
0              0  b'RT ProsperaTedam "RT @LauraHAllain: Such an ...
1              1  b'"Maurice,his older brother, would clamp his ...
2              2  b'Resources for #autism #veterans #domesticvio...
3              3  b'New Jersey Domestic Violence Attorneys\n\nDe...
4              4  b'RT @UniMelb: Learn how the Beyond Silence pr...
...          ...                                                ...
4991        4991  b'RT @merseyside_dvs: Too many people are affe...
4992        4992  b'RT @STagainstDA_: Join our #Cycletogether Ca...
4993        4993  b'RT @UnchainedAtLast: The U.S. @StateDept cal...
4994        4994  b'This was a crazy incident.\n#ManchesterCT #H...
4995        4995  b'Vermont spends $111 million a year on #domes...

                       id  lens                 date place coordinateS lang  \
0     1390639442092826628   233  2021-05-07 12:07:34   NaN         NaN   en
1     1390639218213457920   279  2021-05-07 12:06:41   NaN         NaN   en
2     1390638836519145477    96  2021-05-07 12:05:10   NaN         NaN   en
3     1390637350200414215   223  2021-05-07 11:59:15   NaN         NaN   en
4     1390637122265128961   139  2021-05-07 11:58:21   NaN         NaN   en
...                   ...   ...                  ...   ...         ...  ...
4991  1387822677289803780   140  2021-04-29 17:34:45   NaN         NaN   en
4992  1387822280638701576   140  2021-04-29 17:33:10   NaN         NaN   en
4993  1387821286538326019   140  2021-04-29 17:29:13   NaN         NaN   en
4994  1387820549787852806   111  2021-04-29 17:26:18   NaN         NaN   en
4995  1387819467854417921   258  2021-04-29 17:22:00   NaN         NaN   en

                     source  likes  retweets                    location
0                     IFTTT      1         0                         NaN
1           Twitter Web App      1         0             Dublin, Ireland
2            Hootsuite Inc.      0         0                         USA
3     Fanbooster by Traject      0         0     New Brunswick, NJ 08901
4        Twitter for iPhone      0         2  Sydney.  Cammerraygal Land
...                     ...    ...       ...                         ...
4991    Twitter for Android      0         3          Liverpool, England
4992    Twitter for Android      0         5             London, England
4993        Twitter Web App      0         8          Massachusetts, USA
4994        Twitter Web App      0         0                         NaN
4995              TweetDeck      0         1                         NaN

[4996 rows x 12 columns],     Unnamed: 0                                             Tweets  \
0            0  b'Review: Knots: A Forced Marriage Story Shock...
1            1  b'RT @ForcedMarriages: We need an #intersectio...
2            2  b'We need an #intersectional approach to force...
3            3  b'RT @paulganger: @RefugeCharity #UNITED AND \...
4            4  b'Speaking Our Stories (#MentalHealth Awarenes...
..         ...                                                ...
75          75  b'RT @HEAL2End: In this article published by T...
76          76  b'RT @HEAL2End: In this article published by T...
77          77  b'RT @HEAL2End: In this article published by T...
78          78  b'In this article published by The Prostasia F...
79          79  b'RT @UnchainedAtLast: Female genital mutilati...

                     id  lens                 date  place  coordinateS lang  \
0   1390614758924165123   126  2021-05-07 10:29:29    NaN          NaN   en
1   1390611178410422273   140  2021-05-07 10:15:15    NaN          NaN   en
2   1390599790170230788   262  2021-05-07 09:30:00    NaN          NaN   en
3   1390517291977043977   140  2021-05-07 04:02:11    NaN          NaN   en
4   1390478056343572483   281  2021-05-07 01:26:17    NaN          NaN   en
..                  ...   ...                  ...    ...          ...  ...
75  1387877405738549256   138  2021-04-29 21:12:13    NaN          NaN   en
76  1387858001931821056   138  2021-04-29 19:55:07    NaN          NaN   en
77  1387856560085405701   138  2021-04-29 19:49:23    NaN          NaN   en
78  1387854725564010498   304  2021-04-29 19:42:06    NaN          NaN   en
79  1387822107879411715   140  2021-04-29 17:32:29    NaN          NaN   en

                source  likes  retweets                              location
0      Twitter Web App      0         0           Washington DC and Indonesia
1      Twitter Web App      0         1  Kingston and Richmond United Kingdom
2            TweetDeck      1         1                            London, UK
3               nofear      0         3                       New Jersey, USA
4   Twitter for iPhone      0         0                     San Diego, CA USA
..                 ...    ...       ...                                   ...
75  Twitter for iPhone      0        10                          Portland, OR
76     Twitter Web App      0        10                       🇺🇲🇮🇳🇵🇰🏴󠁧󠁢󠁳󠁣󠁴󠁿🇱🇾
77     Twitter Web App      0        10                       Greater NY area
78     Twitter Web App     12        10                             Baltimore
79     Twitter Web App      0         7                    Massachusetts, USA

[80 rows x 12 columns],       Unnamed: 0                                             Tweets  \
0              0  b'Enhle guys, she is going through the most. Y...
1              1  b'Thankyou so much for your participation, i h...
2              2  b'RT @LSHTM: Droughts, floods, and hurricanes ...
3              3  b'RT @CedawPT: There were 47,534 domestic abus...
4              4  b'Queer (and hetero) family, let\xe2\x80\x99s ...
...          ...                                                ...
2426        2426  b'RT @UNFPAUganda: With support from @Austrian...
2427        2427  b'RT @BadruMulumba: Media managers/practioners...
2428        2428  b'RT @wanamdynasty24: We need to work together...
2429        2429  b'RT @EmpowerRwanda: @EmpowerRwanda has signed...
2430        2430  b'RT @EmpowerRwanda: @EmpowerRwanda has signed...

                       id  lens                 date place  coordinateS lang  \
0     1390638928898793473    86  2021-05-07 12:05:32   NaN          NaN   en
1     1390636261409492993   277  2021-05-07 11:54:56   NaN          NaN   en
2     1390635907682902017   140  2021-05-07 11:53:31   NaN          NaN   en
3     1390635453221679105   140  2021-05-07 11:51:43   NaN          NaN   en
4     1390634969987526658   299  2021-05-07 11:49:48   NaN          NaN   en
...                   ...   ...                  ...   ...          ...  ...
2426  1387823427193552899   140  2021-04-29 17:37:44   NaN          NaN   en
2427  1387823293013561347   140  2021-04-29 17:37:12   NaN          NaN   en
2428  1387822918277771269   140  2021-04-29 17:35:42   NaN          NaN   en
2429  1387821889624711169   140  2021-04-29 17:31:37   NaN          NaN   en
2430  1387821758422601729   140  2021-04-29 17:31:06   NaN          NaN   en

                   source  likes  retweets          location
0        Twitter for iPad      1         0      Planet Earth
1         Twitter Web App      0         0               NaN
2      Twitter for iPhone      0         9   London, England
3         Twitter Web App      0         2               NaN
4      Twitter for iPhone      0         0      South Africa
...                   ...    ...       ...               ...
2426  Twitter for Android      0         2           Uganda
2427  Twitter for Android      0         3               NaN
2428  Twitter for Android      0         6  Kiruhura, Uganda
2429  Twitter for Android      0         6               NaN
2430  Twitter for Android      0         6         Nyagatare

[2431 rows x 12 columns],     Unnamed: 0                                             Tweets  \
0            0  b'@timesofindia Hope @HDFC_Bank is listening. ...
1            1  b'Unconscionable: \xe2\x80\x98We\xe2\x80\x99re...
2            2  b'\xe2\x80\x98We\xe2\x80\x99re terrorized\xe2\...
3            3  b'RT @CanarioAcosado: #24HoursEachDay #24Hours...
4            4  b'Woman harassed by fellow women on the street...
5            5  b'RT @CanarioAcosado: #24HoursEachDay #24Hours...
6            6  b'#24HoursEachDay #24HoursHarssAndTorture #Are...
7            7  b'\xe2\x80\x98We\xe2\x80\x99re terrorized\xe2\...
8            8  b'RT @BRAINCURES: @MoriMahmoudi @AcademicParit...
9            9  b'RT @CanarioAcosado: #24HoursEachDay #24Hours...
10          10  b'RT @CanarioAcosado: #24HoursEachDay #24Hours...
11          11  b'RT @CanarioAcosado: #24HoursEachDay #24Hours...
12          12  b'RT @CanarioAcosado: #24HoursEachDay #24Hours...
13          13  b'RT @CanarioAcosado: #24HoursEachDay #24Hours...
14          14  b'#24HoursEachDay #24HoursHarssAndTorture #Are...
15          15  b'RT @BRAINCURES: @MoriMahmoudi @AcademicParit...
16          16  b"Check out Prince Mohammed Almazrawey's video...
17          17  b"https://t.co/ctnjxrrsB3 #IggyAzalea X #Tinas...
18          18  b'Men before you approach or give compliments ...
19          19  b'If #people that #harass #employees at #work ...
20          20  b'\xe2\x80\x9cThey call us #Chinese, then #har...
21          21  b'#Google  #FamilyLink has a major flaw. @sund...
22          22  b'\xe2\x80\x98She\xe2\x80\x99ll think I\xe2\x8...
23          23  b'@washingtonpost #Pathetic #response to #Jeff...
24          24  b'RT @BRAINCURES: @do_kinder @JeremyFarrar @we...

                     id  lens                 date  place  coordinateS lang  \
0   1390176945904623617    61  2021-05-06 05:29:46    NaN          NaN   en
1   1389995300169949189   135  2021-05-05 17:27:59    NaN          NaN   en
2   1389968642863894528   279  2021-05-05 15:42:03    NaN          NaN   en
3   1389967606849884166   140  2021-05-05 15:37:56    NaN          NaN   en
4   1389920833544474627   130  2021-05-05 12:32:04    NaN          NaN   en
5   1389877638265778176   140  2021-05-05 09:40:26    NaN          NaN   en
6   1389874116916924417   302  2021-05-05 09:26:26    NaN          NaN   en
7   1389705958226530306   120  2021-05-04 22:18:14    NaN          NaN   en
8   1389611300884471809   140  2021-05-04 16:02:06    NaN          NaN   en
9   1389597865702531073   140  2021-05-04 15:08:43    NaN          NaN   en
10  1389596129977843713   140  2021-05-04 15:01:49    NaN          NaN   en
11  1389567660581588992   140  2021-05-04 13:08:41    NaN          NaN   en
12  1389563014723035141   140  2021-05-04 12:50:14    NaN          NaN   en
13  1389558907354365961   140  2021-05-04 12:33:54    NaN          NaN   en
14  1389558879843934215   302  2021-05-04 12:33:48    NaN          NaN   en
15  1389514721569685509   140  2021-05-04 09:38:20    NaN          NaN   en
16  1389399258026156033   247  2021-05-04 01:59:31    NaN          NaN   en
17  1389361854607241223   276  2021-05-03 23:30:53    NaN          NaN   en
18  1389347828422647820   190  2021-05-03 22:35:09    NaN          NaN   en
19  1389172619518283776   213  2021-05-03 10:58:56    NaN          NaN   en
20  1389105792918433792   304  2021-05-03 06:33:24    NaN          NaN   en
21  1389068382146899968   288  2021-05-03 04:04:44    NaN          NaN   en
22  1388787153400893442   304  2021-05-02 09:27:14    NaN          NaN   en
23  1388556962166710275   112  2021-05-01 18:12:32    NaN          NaN   en
24  1388124931368656904   140  2021-04-30 13:35:48    NaN          NaN   en

                 source  likes  retweets                        location
0   Twitter for Android      0         0                     Pune, India
1       Twitter Web App      0         0                     South Beach
2   Twitter for Android      0         0    represent.com/store/humberto
3    Twitter for iPhone      0         4      Las Palmas, Islas Canarias
4               dlvr.it      0         1                          Ghana
5    Twitter for iPhone      0         4    Las Palmas, Islas Canarias🇮🇨
6    Twitter for iPhone      4         4    Las Palmas, Islas Canarias🇮🇨
7      Twitter for iPad      0         0                             NaN
8      Twitter for iPad      0        24                 London, England
9   Twitter for Android      0         5                             NaN
10  Twitter for Android      0         5  Las Palmas de Gran Canaria, Es
11   Twitter for iPhone      0         5      Las Palmas, Islas Canarias
12   Twitter for iPhone      0         5      Las PalmasGran Canaria🇮🇨🇪🇸
13   Twitter for iPhone      0         5    Las Palmas, Islas Canarias🇮🇨
14   Twitter for iPhone      5         5    Las Palmas, Islas Canarias🇮🇨
15     Twitter for iPad      0        24                 London, England
16   Twitter for iPhone      0         0                             NaN
17      Twitter Web App      0         0                           Maine
18   Twitter for iPhone      1         0           Lagos state, Nigeria.
19   Twitter for iPhone      0         0                  Washington, DC
20           Zapier.com      0         0                             NaN
21      Twitter Web App      0         0                      Austin, TX
22   Twitter for iPhone      3         0       Crowthorne, Berkshire. UK
23   Twitter for iPhone      0         0                     Houston, TX
24     Twitter for iPad      0        10                 London, England  ,       Unnamed: 0                                             Tweets  \
0              0  b'@colonelhogans Hellsong teaches men that the...
1              1  b'RT @KaceyKells: KELLCEY "This story not only...
2              2  b'RT @KaceyKells: KELLCEY "This story not only...
3              3  b'RT @KaceyKells: KELLCEY "This story not only...
4              4  b'RT @demishevich: \xf0\x9f\x94\xb4 #BREAKING ...
...          ...                                                ...
4665        4665  b'Will Police Failure Equal More Attention on ...
4666        4666  b'Women have been humiliated ,verbally and sex...
4667        4667  b'Ethics panel: Lawmaker accused of #rape shou...
4668        4668  b'RT @BombshellDAILY: REPUBLICAN RAPED HIS CLI...
4669        4669  b'RT @Ojmedianetwork: Actor FEMi Branch Reacts...

                       id  lens                 date place  coordinateS lang  \
0     1390639403404390404   172  2021-05-07 12:07:25   NaN          NaN   en
1     1390638405772578818   140  2021-05-07 12:03:27   NaN          NaN   en
2     1390637247632924672   140  2021-05-07 11:58:51   NaN          NaN   en
3     1390636279017115649   140  2021-05-07 11:55:00   NaN          NaN   en
4     1390636244883869702   140  2021-05-07 11:54:52   NaN          NaN   en
...                   ...   ...                  ...   ...          ...  ...
4665  1387824802472370185   135  2021-04-29 17:43:12   NaN          NaN   en
4666  1387823357542866948   208  2021-04-29 17:37:27   NaN          NaN   en
4667  1387821733562961923   104  2021-04-29 17:31:00   NaN          NaN   en

In [5]:
#merging all DataFrames in the list(frame)

result = pd.concat(frame)

In [6]:
result.head()

,Unnamed: 0,Tweets,id,lens,date,place,coordinateS,lang,source,likes,retweets,location
0,0,"b'We join @IKWRO, @KNFMHBV &amp; other signato...",1390637761082888193,290,2021-05-07 12:00:53,NaN,NaN,en,Buffer,0,0,UK
1,1,b'This is a pressing issue that requires a res...,1390632539870609411,153,2021-05-07 11:40:08,NaN,NaN,en,NbM Tweeter,0,0,NaN
2,2,b'RT @GirlsNotBrides: By ending #childmarriage...,1390625672201183232,140,2021-05-07 11:12:51,NaN,NaN,en,Twitter for iPhone,0,9,NaN
3,3,b'We work on amplifying #YOUTH voices against ...,1390604516295430149,299,2021-05-07 09:48:47,NaN,NaN,en,Twitter for Android,3,0,NaN
4,4,b'RT @unwomenlebanon: In \xf0\x9f\x87\xb1\xf0\...,1390596270490800128,140,2021-05-07 09:16:01,NaN,NaN,en,Twitter Web App,0,21,NaN

In [7]:
result.shape

(18349, 12)

In [8]:
"""
This loop reads the content of different files
into a DataFrame and apend to a dictionary with 
file-name as the key and DataFrame as the value.
"""
frame = {}
frames = []
name_list = []
for f in tqdm(file_names):
    path = 'data/' + f
    var = f.split('_')[0]
    name = var.split('#')[1]
    name_list.append(name)
    df = pd.read_csv(path)
    frames.append(df)
    
for fname, file in zip(name_list, frames):
        frame[fname] = frame.get(fname, file)
print(frame)

100%|██████████████████████████████████████████████████████████████████████████████████| 13/13 [00:00<00:00, 69.94it/s]

{'childmarriage':      Unnamed: 0                                             Tweets  \
0             0  b'We join @IKWRO, @KNFMHBV &amp; other signato...
1             1  b'This is a pressing issue that requires a res...
2             2  b'RT @GirlsNotBrides: By ending #childmarriage...
3             3  b'We work on amplifying #YOUTH voices against ...
4             4  b'RT @unwomenlebanon: In \xf0\x9f\x87\xb1\xf0\...
..          ...                                                ...
649         649  b'RT @UnchainedAtLast: Female genital mutilati...
650         650  b"RT @UnchainedAtLast: #ChildMarriage has deva...
651         651  b'RT @UnchainedAtLast: Did you know that #chil...
652         652  b'RT @AbirajNesha: 46 #US States permit #child...
653         653  b'RT @UnchainedAtLast: The U.S. @StateDept cal...

                      id  lens                 date place  coordinateS lang  \
0    1390637761082888193   290  2021-05-07 12:00:53   NaN          NaN   en
1    1390632539870609411   153  2021-05-07 11:40:08   NaN          NaN   en
2    1390625672201183232   140  2021-05-07 11:12:51   NaN          NaN   en
3    1390604516295430149   299  2021-05-07 09:48:47   NaN          NaN   en
4    1390596270490800128   140  2021-05-07 09:16:01   NaN          NaN   en
..                   ...   ...                  ...   ...          ...  ...
649  1387822107879411715   140  2021-04-29 17:32:29   NaN          NaN   en
650  1387822001465827332   140  2021-04-29 17:32:04   NaN          NaN   en
651  1387821846465323009   140  2021-04-29 17:31:27   NaN          NaN   en
652  1387821491224465411   140  2021-04-29 17:30:02   NaN          NaN   en
653  1387821286538326019   140  2021-04-29 17:29:13   NaN          NaN   en

                  source  likes  retweets            location
0                 Buffer      0         0                  UK
1            NbM Tweeter      0         0                 NaN
2     Twitter for iPhone      0         9                 NaN
3    Twitter for Android      3         0                 NaN
4        Twitter Web App      0        21                 NaN
..                   ...    ...       ...                 ...
649      Twitter Web App      0         7  Massachusetts, USA
650      Twitter Web App      0         8  Massachusetts, USA
651      Twitter Web App      0        25  Massachusetts, USA
652      Twitter Web App      0        13  Massachusetts, USA
653      Twitter Web App      0         8  Massachusetts, USA

[654 rows x 12 columns], 'childtrafficking':      Unnamed: 0                                             Tweets  \
0             0  b'Though #ChildTrafficking is an issue that\xe...
1             1  b'When children and teens under 18 are recruit...
2             2  b"We want to see #Trafficked included as an #A...
3             3  b'RT @arijitbarman76: When @DevinaET 1st wrote...
4             4  b'RT @priti_patkar: Traffickers prey children ...
..          ...                                                ...
390         390  b'RT @IOMJamaica: #ChildTrafficking is the Rec...
391         391  b'RT @IOMJamaica: #ChildTrafficking is the Rec...
392         392  b'RT @IOMJamaica: #ChildTrafficking is the Rec...
393         393  b'RT @InstituteUMSSW: @UMBaltimore Dr. Nadine ...
394         394  b'RT @InstituteUMSSW: @UMBaltimore Dr. Nadine ...

                      id  lens                 date  place  coordinateS lang  \
0    1390639308889944075   148  2021-05-07 12:07:02    NaN          NaN   en
1    1390637754111889408   279  2021-05-07 12:00:52    NaN          NaN   en
2    1390636685063598084   279  2021-05-07 11:56:37    NaN          NaN   en
3    1390627117537267719   140  2021-05-07 11:18:36    NaN          NaN   en
4    1390626690359988224   140  2021-05-07 11:16:54    NaN          NaN   en
..                   ...   ...                  ...    ...          ...  ...
390  1387846228394795011   140  2021-04-29 19:08:20    NaN          NaN   en
391  1387845139364679680   140  2021-04-29 19:04:00    NaN          NaN   en
392  1387844992316678144   140  2021-04-29 19:03:25    NaN          NaN   en
393  1387823737366528005   140  2021-04-29 17:38:58    NaN          NaN   en
394  1387823502414209032   140  2021-04-29 17:38:02    NaN          NaN   en

                   source  likes  retweets       location
0         Twitter Web App      0         0          India
1                  Buffer      0         0    Houston, TX
2     Twitter for Android      2         0             UK
3    Flamingo for Android      0         5            NaN
4     Twitter for Android      0         6            NaN
..                    ...    ...       ...            ...
390    Twitter for iPhone      0         3       Jamaica
391         Twheater_live      0         0            NaN
392    Twitter for iPhone      0         3        Jamaica
393       Twitter Web App      0         1  Baltimore, MD
394       Twitter Web App      0         2  Baltimore, MD

[395 rows x 12 columns], 'domesticviolence':       Unnamed: 0                                             Tweets  \
0              0  b'RT ProsperaTedam "RT @LauraHAllain: Such an ...
1              1  b'"Maurice,his older brother, would clamp his ...
2              2  b'Resources for #autism #veterans #domesticvio...
3              3  b'New Jersey Domestic Violence Attorneys\n\nDe...
4              4  b'RT @UniMelb: Learn how the Beyond Silence pr...
...          ...                                                ...
4991        4991  b'RT @merseyside_dvs: Too many people are affe...
4992        4992  b'RT @STagainstDA_: Join our #Cycletogether Ca...
4993        4993  b'RT @UnchainedAtLast: The U.S. @StateDept cal...
4994        4994  b'This was a crazy incident.\n#ManchesterCT #H...
4995        4995  b'Vermont spends $111 million a year on #domes...

                       id  lens                 date place coordinateS lang  \
0     1390639442092826628   233  2021-05-07 12:07:34   NaN         NaN   en
1     1390639218213457920   279  2021-05-07 12:06:41   NaN         NaN   en
2     1390638836519145477    96  2021-05-07 12:05:10   NaN         NaN   en
3     1390637350200414215   223  2021-05-07 11:59:15   NaN         NaN   en
4     1390637122265128961   139  2021-05-07 11:58:21   NaN         NaN   en
...                   ...   ...                  ...   ...         ...  ...
4991  1387822677289803780   140  2021-04-29 17:34:45   NaN         NaN   en
4992  1387822280638701576   140  2021-04-29 17:33:10   NaN         NaN   en
4993  1387821286538326019   140  2021-04-29 17:29:13   NaN         NaN   en
4994  1387820549787852806   111  2021-04-29 17:26:18   NaN         NaN   en
4995  1387819467854417921   258  2021-04-29 17:22:00   NaN         NaN   en

                     source  likes  retweets                    location
0                     IFTTT      1         0                         NaN
1           Twitter Web App      1         0             Dublin, Ireland
2            Hootsuite Inc.      0         0                         USA
3     Fanbooster by Traject      0         0     New Brunswick, NJ 08901
4        Twitter for iPhone      0         2  Sydney.  Cammerraygal Land
...                     ...    ...       ...                         ...
4991    Twitter for Android      0         3          Liverpool, England
4992    Twitter for Android      0         5             London, England
4993        Twitter Web App      0         8          Massachusetts, USA
4994        Twitter Web App      0         0                         NaN
4995              TweetDeck      0         1                         NaN

[4996 rows x 12 columns], 'forcedmarriage':     Unnamed: 0                                             Tweets  \
0            0  b'Review: Knots: A Forced Marriage Story Shock...
1            1  b'RT @ForcedMarriages: We need an #intersectio...
2            2  b'We need an #intersectional approach to force...
3            3  b'RT @paulganger: @RefugeCharity #UNITED AND \...
4            4  b'Speaking Our Stories (#MentalHealth Awarenes...
..         ...                                                ...
75          75  b'RT @HEAL2End: In this article published by T...
76          76  b'RT @HEAL2End: In this article published by T...
77          77  b'RT @HEAL2End: In this article published by T...
78          78  b'In this article published by The Prostasia F...
79          79  b'RT @UnchainedAtLast: Female genital mutilati...

                     id  lens                 date  place  coordinateS lang  \
0   1390614758924165123   126  2021-05-07 10:29:29    NaN          NaN   en
1   1390611178410422273   140  2021-05-07 10:15:15    NaN          NaN   en
2   1390599790170230788   262  2021-05-07 09:30:00    NaN          NaN   en
3   1390517291977043977   140  2021-05-07 04:02:11    NaN          NaN   en
4   1390478056343572483   281  2021-05-07 01:26:17    NaN          NaN   en
..                  ...   ...                  ...    ...          ...  ...
75  1387877405738549256   138  2021-04-29 21:12:13    NaN          NaN   en
76  1387858001931821056   138  2021-04-29 19:55:07    NaN          NaN   en
77  1387856560085405701   138  2021-04-29 19:49:23    NaN          NaN   en
78  1387854725564010498   304  2021-04-29 19:42:06    NaN          NaN   en
79  1387822107879411715   140  2021-04-29 17:32:29    NaN          NaN   en

                source  likes  retweets                              location
0      Twitter Web App      0         0           Washington DC and Indonesia
1      Twitter Web App      0         1  Kingston and Richmond United Kingdom
2            TweetDeck      1         1                            London, UK
3               nofear      0         3                       New Jersey, USA
4   Twitter for iPhone      0         0                     San Diego, CA USA
..                 ...    ...       ...                                   ...
75  Twitter for iPhone      0        10                          Portland, OR
76     Twitter Web App      0        10                       🇺🇲🇮🇳🇵🇰🏴󠁧󠁢󠁳󠁣󠁴󠁿🇱🇾
77     Twitter Web App      0        10                       Greater NY area
78     Twitter Web App     12        10                             Baltimore
79     Twitter Web App      0         7                    Massachusetts, USA

[80 rows x 12 columns], 'GBV':       Unnamed: 0                                             Tweets  \
0              0  b'Enhle guys, she is going through the most. Y...
1              1  b'Thankyou so much for your participation, i h...
2              2  b'RT @LSHTM: Droughts, floods, and hurricanes ...
3              3  b'RT @CedawPT: There were 47,534 domestic abus...
4              4  b'Queer (and hetero) family, let\xe2\x80\x99s ...
...          ...                                                ...
2426        2426  b'RT @UNFPAUganda: With support from @Austrian...
2427        2427  b'RT @BadruMulumba: Media managers/practioners...
2428        2428  b'RT @wanamdynasty24: We need to work together...
2429        2429  b'RT @EmpowerRwanda: @EmpowerRwanda has signed...
2430        2430  b'RT @EmpowerRwanda: @EmpowerRwanda has signed...

                       id  lens                 date place  coordinateS lang  \
0     1390638928898793473    86  2021-05-07 12:05:32   NaN          NaN   en
1     1390636261409492993   277  2021-05-07 11:54:56   NaN          NaN   en
2     1390635907682902017   140  2021-05-07 11:53:31   NaN          NaN   en
3     1390635453221679105   140  2021-05-07 11:51:43   NaN          NaN   en
4     1390634969987526658   299  2021-05-07 11:49:48   NaN          NaN   en
...                   ...   ...                  ...   ...          ...  ...
2426  1387823427193552899   140  2021-04-29 17:37:44   NaN          NaN   en
2427  1387823293013561347   140  2021-04-29 17:37:12   NaN          NaN   en
2428  1387822918277771269   140  2021-04-29 17:35:42   NaN          NaN   en
2429  1387821889624711169   140  2021-04-29 17:31:37   NaN          NaN   en
2430  1387821758422601729   140  2021-04-29 17:31:06   NaN          NaN   en

                   source  likes  retweets          location
0        Twitter for iPad      1         0      Planet Earth
1         Twitter Web App      0         0               NaN
2      Twitter for iPhone      0         9   London, England
3         Twitter Web App      0         2               NaN
4      Twitter for iPhone      0         0      South Africa
...                   ...    ...       ...               ...
2426  Twitter for Android      0         2           Uganda
2427  Twitter for Android      0         3               NaN
2428  Twitter for Android      0         6  Kiruhura, Uganda
2429  Twitter for Android      0         6               NaN
2430  Twitter for Android      0         6         Nyagatare

[2431 rows x 12 columns], 'harass':     Unnamed: 0                                             Tweets  \
0            0  b'@timesofindia Hope @HDFC_Bank is listening. ...
1            1  b'Unconscionable: \xe2\x80\x98We\xe2\x80\x99re...
2            2  b'\xe2\x80\x98We\xe2\x80\x99re terrorized\xe2\...
3            3  b'RT @CanarioAcosado: #24HoursEachDay #24Hours...
4            4  b'Woman harassed by fellow women on the street...
5            5  b'RT @CanarioAcosado: #24HoursEachDay #24Hours...
6            6  b'#24HoursEachDay #24HoursHarssAndTorture #Are...
7            7  b'\xe2\x80\x98We\xe2\x80\x99re terrorized\xe2\...
8            8  b'RT @BRAINCURES: @MoriMahmoudi @AcademicParit...
9            9  b'RT @CanarioAcosado: #24HoursEachDay #24Hours...
10          10  b'RT @CanarioAcosado: #24HoursEachDay #24Hours...
11          11  b'RT @CanarioAcosado: #24HoursEachDay #24Hours...
12          12  b'RT @CanarioAcosado: #24HoursEachDay #24Hours...
13          13  b'RT @CanarioAcosado: #24HoursEachDay #24Hours...
14          14  b'#24HoursEachDay #24HoursHarssAndTorture #Are...
15          15  b'RT @BRAINCURES: @MoriMahmoudi @AcademicParit...
16          16  b"Check out Prince Mohammed Almazrawey's video...
17          17  b"https://t.co/ctnjxrrsB3 #IggyAzalea X #Tinas...
18          18  b'Men before you approach or give compliments ...
19          19  b'If #people that #harass #employees at #work ...
20          20  b'\xe2\x80\x9cThey call us #Chinese, then #har...
21          21  b'#Google  #FamilyLink has a major flaw. @sund...
22          22  b'\xe2\x80\x98She\xe2\x80\x99ll think I\xe2\x8...
23          23  b'@washingtonpost #Pathetic #response to #Jeff...
24          24  b'RT @BRAINCURES: @do_kinder @JeremyFarrar @we...

                     id  lens                 date  place  coordinateS lang  \
0   1390176945904623617    61  2021-05-06 05:29:46    NaN          NaN   en
1   1389995300169949189   135  2021-05-05 17:27:59    NaN          NaN   en
2   1389968642863894528   279  2021-05-05 15:42:03    NaN          NaN   en
3   1389967606849884166   140  2021-05-05 15:37:56    NaN          NaN   en
4   1389920833544474627   130  2021-05-05 12:32:04    NaN          NaN   en
5   1389877638265778176   140  2021-05-05 09:40:26    NaN          NaN   en
6   1389874116916924417   302  2021-05-05 09:26:26    NaN          NaN   en
7   1389705958226530306   120  2021-05-04 22:18:14    NaN          NaN   en
8   1389611300884471809   140  2021-05-04 16:02:06    NaN          NaN   en
9   1389597865702531073   140  2021-05-04 15:08:43    NaN          NaN   en
10  1389596129977843713   140  2021-05-04 15:01:49    NaN          NaN   en
11  1389567660581588992   140  2021-05-04 13:08:41    NaN          NaN   en
12  1389563014723035141   140  2021-05-04 12:50:14    NaN          NaN   en
13  1389558907354365961   140  2021-05-04 12:33:54    NaN          NaN   en
14  1389558879843934215   302  2021-05-04 12:33:48    NaN          NaN   en
15  1389514721569685509   140  2021-05-04 09:38:20    NaN          NaN   en
16  1389399258026156033   247  2021-05-04 01:59:31    NaN          NaN   en
17  1389361854607241223   276  2021-05-03 23:30:53    NaN          NaN   en
18  1389347828422647820   190  2021-05-03 22:35:09    NaN          NaN   en
19  1389172619518283776   213  2021-05-03 10:58:56    NaN          NaN   en
20  1389105792918433792   304  2021-05-03 06:33:24    NaN          NaN   en
21  1389068382146899968   288  2021-05-03 04:04:44    NaN          NaN   en
22  1388787153400893442   304  2021-05-02 09:27:14    NaN          NaN   en
23  1388556962166710275   112  2021-05-01 18:12:32    NaN          NaN   en
24  1388124931368656904   140  2021-04-30 13:35:48    NaN          NaN   en

                 source  likes  retweets                        location
0   Twitter for Android      0         0                     Pune, India
1       Twitter Web App      0         0                     South Beach
2   Twitter for Android      0         0    represent.com/store/humberto
3    Twitter for iPhone      0         4      Las Palmas, Islas Canarias
4               dlvr.it      0         1                          Ghana
5    Twitter for iPhone      0         4    Las Palmas, Islas Canarias🇮🇨
6    Twitter for iPhone      4         4    Las Palmas, Islas Canarias🇮🇨
7      Twitter for iPad      0         0                             NaN
8      Twitter for iPad      0        24                 London, England
9   Twitter for Android      0         5                             NaN
10  Twitter for Android      0         5  Las Palmas de Gran Canaria, Es
11   Twitter for iPhone      0         5      Las Palmas, Islas Canarias
12   Twitter for iPhone      0         5      Las PalmasGran Canaria🇮🇨🇪🇸
13   Twitter for iPhone      0         5    Las Palmas, Islas Canarias🇮🇨
14   Twitter for iPhone      5         5    Las Palmas, Islas Canarias🇮🇨
15     Twitter for iPad      0        24                 London, England
16   Twitter for iPhone      0         0                             NaN
17      Twitter Web App      0         0                           Maine
18   Twitter for iPhone      1         0           Lagos state, Nigeria.
19   Twitter for iPhone      0         0                  Washington, DC
20           Zapier.com      0         0                             NaN
21      Twitter Web App      0         0                      Austin, TX
22   Twitter for iPhone      3         0       Crowthorne, Berkshire. UK
23   Twitter for iPhone      0         0                     Houston, TX
24     Twitter for iPad      0        10                 London, England  , 'rape':       Unnamed: 0                                             Tweets  \
0              0  b'@colonelhogans Hellsong teaches men that the...
1              1  b'RT @KaceyKells: KELLCEY "This story not only...
2              2  b'RT @KaceyKells: KELLCEY "This story not only...
3              3  b'RT @KaceyKells: KELLCEY "This story not only...
4              4  b'RT @demishevich: \xf0\x9f\x94\xb4 #BREAKING ...
...          ...                                                ...
4665        4665  b'Will Police Failure Equal More Attention on ...
4666        4666  b'Women have been humiliated ,verbally and sex...
4667        4667  b'Ethics panel: Lawmaker accused of #rape shou...
4668        4668  b'RT @BombshellDAILY: REPUBLICAN RAPED HIS CLI...
4669        4669  b'RT @Ojmedianetwork: Actor FEMi Branch Reacts...

                       id  lens                 date place  coordinateS lang  \
0     1390639403404390404   172  2021-05-07 12:07:25   NaN          NaN   en
1     1390638405772578818   140  2021-05-07 12:03:27   NaN          NaN   en
2     1390637247632924672   140  2021-05-07 11:58:51   NaN          NaN   en
3     1390636279017115649   140  2021-05-07 11:55:00   NaN          NaN   en
4     1390636244883869702   140  2021-05-07 11:54:52   NaN          NaN   en
...                   ...   ...                  ...   ...          ...  ...
4665  1387824802472370185   135  2021-04-29 17:43:12   NaN          NaN   en
4666  1387823357542866948   208  2021-04-29 17:37:27   NaN          NaN   en

In [9]:
#merging all DataFrames in the dictionary(frame)

final_df = pd.concat(frame)

In [11]:
final_df.shape

(18349, 12)

In [12]:
#viewing the distinct values in column location

final_df['location'].unique()

array(['UK', nan, 'Beirut, Lebanon', ..., 'Suffolk, UK',
       'Planet Earth, The Milky Way', 'MN, USA'], dtype=object)

In [13]:
#number of unique values in column location

final_df['location'].nunique()

4148

In [16]:
#getting a DataFrame filtered with location Nigeria

final_df[final_df['location'] == 'Nigeria']

                       Unnamed: 0  \
childmarriage    240          240
                 391          391
domesticviolence 852          852
                 868          868
                 3971        3971
...                           ...
sexualassault    901          901
                 956          956
                 1021        1021
sexualviolence   206          206
                 710          710

                                                                  Tweets  \
childmarriage    240   b"RT @GirlsNotBrides: 'What child wants the re...
                 391   b'RT @adeleye_demola: Young girls who marry ea...
domesticviolence 852   b'RT @SOIBIGOLD: Pictures from FEARLESS (4th E...
                 868   b'Pictures from FEARLESS (4th Edition)\n#women...
                 3971  b'*HE STOLE HER PRIDE* _E PLUS The Storyteller...
...                                                                  ...
sexualassault    901   b'Why do bystanders, who have an opportunity t...
                 956   b"RT @vidi_initiative: Live discussion on' Und...
                 1021  b'RT @tvcnewsng: #NewsFlash Lagos State Commis...
sexualviolence   206   b'RT @hhri_org: Still, we know very little abo...
                 710   b'RT @hhri_org: Today is #denimday2021. Wear j...

                                        id  lens                 date place  \
childmarriage    240   1389646672653733888   140  2021-05-04 18:22:39   NaN
                 391   1389190528038809603   140  2021-05-03 12:10:06   NaN
domesticviolence 852   1390298758534074368   140  2021-05-06 13:33:49   NaN
                 868   1390296992467800066   133  2021-05-06 13:26:48   NaN
                 3971  1388497348309962755   299  2021-05-01 14:15:39   NaN
...                                    ...   ...                  ...   ...
sexualassault    901   1388057606061703168   165  2021-04-30 09:08:16   NaN
                 956   1387927852885098496   140  2021-04-30 00:32:41   NaN
                 1021  1387833356834979847   140  2021-04-29 18:17:11   NaN
sexualviolence   206   1389545112284315650   140  2021-05-04 11:39:05   NaN
                 710   1387978180250767363   139  2021-04-30 03:52:40   NaN

                      coordinateS lang               source  likes  retweets  \
childmarriage    240          NaN   en   Twitter for iPhone      0        23
                 391          NaN   en   Twitter for iPhone      0         3
domesticviolence 852          NaN   en   Twitter for iPhone      0         3
                 868          NaN   en  Twitter for Android      5         3
                 3971         NaN   en  Twitter for Android      0         0
...                           ...  ...                  ...    ...       ...
sexualassault    901          NaN   en  Twitter for Android      1         0
                 956          NaN   en  Twitter for Android      0         2
                 1021         NaN   en  Twitter for Android      0         7
sexualviolence   206          NaN   en   Twitter for iPhone      0         2
                 710          NaN   en   Twitter for iPhone      0         1

                      location
childmarriage    240   Nigeria
                 391   Nigeria
domesticviolence 852   Nigeria
                 868   Nigeria
                 3971  Nigeria
...                        ...
sexualassault    901   Nigeria
                 956   Nigeria
                 1021  Nigeria
sexualviolence   206   Nigeria
                 710   Nigeria

[102 rows x 12 columns]

In [17]:
countries_africa = ['Nigeria','Ethiopia','Egypt','DR Congo','Tanzania',
                    'South Africa','Kenya','Uganda','Algeria','Sudan',
                    'Morocco','Angola','Mozambique','Ghana','Madagascar',
                    'Cameroon',"Côte d'Ivoire",'Niger','Burkina Faso','Mali',
                    'Malawi','Zambia','Senegal','Chad','Somalia','Zimbabwe',
                    'Guinea','Rwanda','Benin','Burundi','Tunisia','South Sudan',
                    'Togo','Sierra Leone','Libya','Congo','Liberia','Central African Republic',
                    'Mauritania','Eritrea','Namibia','Gambia','Botswana','Gabon','Lesotho',
                    'Guinea-Bissau','Equatorial Guinea','Mauritius','Eswatini','Djibout',
                    'Comoros','Cabo Verde','Sao Tome & Principe','Seychelles']

In [18]:
#checking the number of countries in countries_africa list

len(countries_africa)

54

In [21]:
final_df['location'].unique()

array([nan, 'Beirut, Lebanon', 'India', ..., 'Suffolk, UK',
       'Planet Earth, The Milky Way', 'MN, USA'], dtype=object)

In [22]:
def unique_val(df):
    """
    This function will generate a dictionary
    and counting all unique location
    """
    data = df
    cols = df['location']
    dic_uni = {}
    for col in cols:
        dic_uni[col] = dic_uni.get(col,0) + 1
    return dic_uni

In [23]:
unique_val(final_df)

{nan: 5371,
 'Beirut, Lebanon': 3,
 'India': 132,
 'Angola': 2,
 'Tanzania': 4,
 'Nairobi, Kenya': 106,
 'kenya': 78,
 'San Diego, CA USA': 6,
 'New York, USA': 43,
 'Los Angeles, CA': 32,
 'Mangotsfield, Gloucestershire': 1,
 'Awesome niece & nephew xx': 1,
 'Holding on by a thread': 3,
 'Enugu, Nigeria': 15,
 'Horwich in shadow of macron': 1,
 'Kampala - Uganda ': 4,
 'Dubai, United Arab Emirates': 3,
 '🌍 Maputo, Mozambique': 1,
 'Kampala, Uganda': 55,
 'pune': 1,
 'Broken Brum': 1,
 'WA, OR, ID, AK, BC': 4,
 'Addis Ababa, Ethiopia': 9,
 'Santa Barbara, CA': 4,
 'Ethiopia': 21,
 'Oak Brook, IL, USA': 1,
 'Kerala, India': 2,
 'Barrow-in-Furness, Cumbria': 1,
 'Reading, UK': 1,
 'Global': 33,
 'Stockholm, Sweden': 16,
 'Ardèche. ': 1,
 'Beirut ': 1,
 'Buffalo, NY': 3,
 'New York, NY': 62,
 'sydney': 7,
 'London,United kingdom': 1,
 'United Kingdom': 129,
 'Between the signal + the noise': 1,
 'Tripoli, Lebanon': 1,
 'Lebanon': 7,
 'Lahore, Pakistan': 8,
 'California': 9,
 'Basirhat': 1,
 'Baltimore, MD': 23,
 'Delhi, India': 9,
 'Africa': 20,
 'Charlotte, NC': 14,
 'Berryville, Virginia': 1,
 'Maldives': 2,
 'Jefferson County, WA': 1,
 'Manchester, England': 20,
 'Dartmouth, Nova Scotia': 1,
 "King's Lynn, UK": 1,
 'Traverse City, MI': 1,
 'Bradford, England': 2,
 'Southampton, England': 2,
 'East Bay, CA': 5,
 'Shropshire': 1,
 'Huntersville, NC': 1,
 'North Carolina, USA': 15,
 'United States': 219,
 'Greater NY area': 22,
 'NC': 8,
 'Upper West, Ghana': 1,
 'London': 76,
 'Bedford': 1,
 'Uzbekistan': 1,
 'Leicester, England': 3,
 'near Tampa, FL': 1,
 'England, United Kingdom': 49,
 'Michigan': 6,
 'Kabul, Afghanistan': 2,
 'South Africa': 62,
 'Minna, Niger State': 4,
 'Niger': 1,
 'Europe': 10,
 'Suffolk': 1,
 'Massachusetts, USA': 19,
 'Kent & London': 1,
 'Exeter, England': 2,
 'Mbarara, Uganda': 3,
 'Durham, NC': 3,
 'https://www.facebook.com/IKWRO': 10,
 'Uk': 4,
 'Raleigh, NC - City of Oaks': 1,
 'Kumasi, Ghana': 3,
 'Mountains of Western North Carolina': 1,
 'Eastern North Carolina': 1,
 'North Carolina': 5,
 'Landelijk': 3,
 'Washington, DC': 87,
 'Collingswood, NJ (near Philly)': 1,
 'Somerset UK': 13,
 'Nairobi / София / عَمّان': 1,
 'Gastonia, NC': 1,
 'Poky House, Belfast, NI': 3,
 'پنجاب, پاکستان': 1,
 'Solihull': 1,
 'London, United Kingdom': 4,
 'London, England': 404,
 'Beirut, Líbano': 1,
 'Sweden': 6,
 'London, UK': 22,
 'Farnham, England': 1,
 "51° 31' 0 N": 1,
 'Here & there or anywhere ': 1,
 'Suffolk UK': 3,
 'Manchester': 3,
 'Nairobi/Kakamega Kenya': 1,
 'Gagarawa': 1,
 'Kampala,Uganda': 4,
 'DT: 27.1340,81.9619': 3,
 'Geneva (Switzerland)': 1,
 "Martha's Vineyard": 3,
 'Lansing, IL': 1,
 'The Ozark mountains ': 6,
 'D.C.': 6,
 'Wynyard Tasmania': 1,
 'California, USA': 74,
 'Cofè wanna come': 1,
 'Washington D.C.': 4,
 'Tustin, CA': 1,
 'Uganda, Sironko, Mbale': 1,
 'Kirkland, WA': 4,
 'Denmark - Copenhagen North': 2,
 'Nigeria': 102,
 'Erbil - Arnhem': 1,
 'Atlas Mountains, Morocco.': 1,
 'Seattle, WA': 26,
 'Devon UK': 1,
 'Insel in Berlin': 1,
 'Montréal, QC, Canada': 1,
 'Bangalore': 7,
 'iPhone: 0.000000,0.000000': 1,
 'Brighton': 3,
 'Lebanon, Amsterdam HQ': 1,
 'Somerset, United Kingdom': 4,
 'Uganda, Africa': 9,
 'Túnez': 1,
 'Housebound, like everyone else': 1,
 'New York City': 13,
 'Harare, Zimbabwe': 10,
 'The Great Kachchh,Gujrat,India': 1,
 'Paris': 7,
 'mbarara city': 15,
 'Dar-es-salaam': 1,
 'Geneva, Switzerland': 12,
 'End GBVF': 1,
 'Dar es Salaam, Tanzania': 16,
 'kampala': 3,
 'Dar es Salaam, Tanzania  ': 1,
 'Islamabad, Pakistan': 5,
 'Dhaka': 2,
 'Canada': 88,
 'New York, New York': 3,
 'Uganda': 30,
 'New Jersey': 22,
 'Netherlands': 6,
 'Ig: p.k.hideaway': 1,
 "I'm right here": 1,
 'Brooklyn, NY': 15,
 'the Netherlands': 1,
 'The Earth': 1,
 'Boston, MA': 61,
 'Toronto, Ontario': 54,
 'Lasgidi': 4,
 'Lagos': 24,
 'St. Louis': 3,
 'Dublin': 3,
 'Dakar, Senegal': 4,
 'Lagos, Nigeria': 69,
 'Parkville, MO': 1,
 'Abuja': 6,
 'Ireland': 16,
 'Everywhere for girls': 3,
 'Kenya': 44,
 'Norwich': 3,
 'London / Patna': 1,
 'Tanzania ': 3,
 'Mumbai, India | Cambridge, UK ': 1,
 'Northern Ontario Canada': 1,
 'US, Country Roads, GA Adjacent': 1,
 'NorCal': 1,
 'Southern California, USA ': 1,
 'Los Altos, CA': 1,
 "'Merica": 1,
 '☆Standing at the Crossroads☆': 1,
 'New Oxford, PA': 1,
 'Gudbrandsdalen': 1,
 'The Capital, Kuwait': 1,
 'Indiana, USA': 8,
 'Yıldız, İstanbul': 1,
 'Burkina Faso': 2,
 'Texas, USA': 22,
 'Currently... Hell ': 2,
 'Kommiefornia  ': 1,
 'Frisco, TX': 2,
 'Newcastle': 3,
 'Starbase, TX': 1,
 'East Coast': 1,
 'Planet Earth': 20,
 '(+234) 818 005 6401': 2,
 'Kathmandu, Nepal': 1,
 'केरल, भारत': 2,
 'Republic of Mauritius': 2,
 'Pakistan': 9,
 'World citizen': 1,
 'Clown Town': 1,
 '🇺🇲🇮🇳🇵🇰🏴\U000e0067\U000e0062\U000e0073\U000e0063\U000e0074\U000e007f🇱🇾': 3,
 'New YORK': 1,
 'New Delhi, India': 103,
 'USA': 131,
 'Planet  Earth': 1,
 'Chennai': 3,
 'Uttar Pradesh, India': 3,
 'Del, Blr, Mum, Chennai': 1,
 'please reach out.': 1,
 'Los Angeles': 26,
 'Oosterhout, Nederland': 1,
 'Niger 🇳🇪 ': 1,
 'Madison, Wisconsin, USA': 3,
 'Washington, D.C.': 16,
 'dar es salaam,tanzania': 2,
 '6 Sumaila Town, Pademba Road': 1,
 'London/UK': 1,
 'Jakarta': 2,
 'Abuja, Nigeria': 34,
 'Montréal, a city in #Caquistan (Under Coalition Avenir Québec government)': 2,
 'Nepal': 2,
 'New Hampshire, USA': 7,
 'Tulsa, OK': 2,
 'Portland, OR': 11,
 'Mumbai, India': 52,
 'Baltimore': 3,
 'Niamey, Niger': 2,
 'New York': 33,
 'Mígœrí': 1,
 'Houston, TX': 17,
 'Canada US Sweden': 1,
 'Sheffield, England': 3,
 'Punjab, India': 3,
 'National': 2,
 'Mumbai': 49,
 'Calcutta, Siliguri, Kalimpong': 1,
 'लखनऊ, भारत': 2,
 'Mumbai, Maharashtra': 2,
 'Staffordshire, England': 2,
 'Earth': 34,
 'Perth, Western Australia': 92,
 'Bengaluru, India': 19,
 'Bombay': 1,
 'BOM—DEL—BLR': 1,
 'Mumbai,India': 1,
 "❤❤❤in hubby's heart❤❤❤": 1,
 'A World Citizen': 7,
 "♥️♥️♥️In Guriya's Heart ♥️♥️♥️": 1,
 'Wewoka, OK': 1,
 'Ottawa, Ontario': 14,
 'Ottawa, Canada': 8,
 'Sask': 1,
 'Poconos, PA': 1,
 'PNW': 3,
 'Piano World. Sometimes.': 1,
 'Life Extension Rebellion🌌': 1,
 'Baltic Sea Region': 2,
 'Delhi': 10,
 'New Zealand': 7,
 'Plymouth, England': 1,
 'The Natural State': 1,
 'A bit of a pest to some ppl': 1,
 'ÜT: 51.56353,-0.08759': 1,
 'Credenhill, England': 1,
 'Ohio': 2,
 ' Banished to COVID19 Shelter': 1,
 'Owen Sound, Ontario': 1,
 'rotterdam': 2,
 'Iceland': 1,
 'india': 5,
 'In some one’s heart❤️': 1,
 'Kerala': 4,
 'Bangalore, India 🇮🇳': 3,
 'Near To Photon🦋💥 ': 1,
 'In Your Heart ❤': 1,
 'New Delhi': 10,
 'Aᴠᴠᴀʀᴀ Bɪʟʟᴀʜ 𓃠': 1,
 'West Bengal, India': 1,
 '🇮🇳🇮🇳Kolkata, India🇮🇳🇮🇳': 1,
 'Small town USA': 1,
 'Here & Now': 7,
 ' Cumbria & Wiltshire. ': 1,
 'Montreuil, France': 1,
 'Dublin City, Ireland': 10,
 'Hyderabad, India': 16,
 'Tucson, Arizona': 1,
 'Monterey County, CA': 1,
 'Op Jacht': 1,
 'Follow me Parler/Gab : FreK0': 1,
 'Utrecht': 5,
 '|Zierikzee': 1,
 'In your head': 2,
 'Jubail Kingdom of Saudi Arabia': 1,
 'NYC': 6,
 'Ergens in Nl ': 1,
 'Baton Rouge, LA': 1,
 'The Libertarian Institute': 1,
 'Miami, Florida': 3,
 'Clondalkin, Dublin 22, Ireland': 2,
 'Glasgow': 3,
 'Strasbourg': 3,
 'Dying Earth': 4,
 'Autonome Soevereine Vrijstaat!': 1,
 'Nederland': 4,
 'Berlin': 3,
 'Noneofyourbusiness, World': 1,
 '100% no DMs. Auto-Block. ': 1,
 'unplugged from the matrix': 2,
 'By an ocean': 1,
 'pvvland': 1,
 'Everywhere': 15,
 'Middelburg, Nederland': 1,
 'Blauwe bol': 1,
 'Singapore': 18,
 'Beverly Hills, CA': 1,
 'middelburg': 1,
 'Leukste dorp van nederland ': 1,
 'Noord-Holland, Nederland': 1,
 'NETHERLANDS ': 1,
 'Noord Holland': 1,
 'Wonderland': 1,
 'Rotterdam, Nederland': 2,
 'Zuid-Holland, Nederland': 1,
 'Amsterdam, Nederland': 3,
 "PLEASE, donate if you're able:": 13,
 'active locally globally': 6,
 'Tilburg, The Netherlands': 1,
 'ONS land, nederland. ': 1,
 'Almere': 1,
 'Gewoon': 1,
 'Switzerland': 4,
 'FRANCE': 1,
 'Madre Tierra ♥': 1,
 'Gurugram, India': 1,
 'Privileged to be home.  ': 1,
 'Here': 4,
 'Hilversum, Nederland': 1,
 'Johannesburg, South Africa': 36,
 'Gauteng': 2,
 'Talking Rock, Georgia, USA': 4,
 'Washington, USA': 6,
 'Minnesota, USA': 8,
 'Far West Texas, USA': 2,
 'Victoria, Australia': 21,
 'Blue Dot in Deep Red Indiana': 1,
 'San Francisco': 5,
 'RVA': 1,
 'Minnesota': 7,
 'Pennsyltucky/Pennsylbama, USA': 1,
 'Central Texas': 1,
 'Contrary land': 2,
 'Detroit, always ': 1,
 'Primm Springs, TN': 1,
 'Earth🌍': 1,
 'Brecon': 2,
 'Worldwide': 58,
 '(405) 332-6064': 1,
 'Columbus, OH': 3,
 'South Australia, Australia': 6,
 'Abbotsford, British Columbia': 1,
 'In the forest': 1,
 'Wanderlust 🌈': 1,
 'Pittsburgh Pennsylvania': 1,
 'Tuscaloosa, AL': 2,
 'Baden-Württemberg, Deutschland': 1,
 'Germany': 14,
 'Bangkok, Thailand': 7,
 'Bay Area': 5,
 'Louisville, KY': 2,
 'Puebla México': 1,
 'Great American Southwest': 1,
 'Hollywood, Ca': 1,
 'Bellflower, CA': 1,
 'Bellflower, Ca ': 1,
 'Monterrey': 1,
 'Belleville, IL': 1,
 'chicago': 2,
 'Republic of Texas': 1,
 'IN THE PRESENT': 4,
 'Arbutus, MD': 1,
 'Cork, Ireland': 6,
 'Jamaica: Unfortunately ': 1,
 'Jamaica ': 1,
 'Jamaica': 8,
 'Dublin, Ireland': 8,
 'New Brunswick, NJ 08901': 1,
 'Sydney.  Cammerraygal Land': 1,
 'Kingston, Ontario': 7,
 'Ottawa': 3,
 'Kiama': 2,
 'Japan': 10,
 'Brantford, Ontario': 6,
 'Brooklyn ': 46,
 'Georgia, USA': 13,
 'Nipaluna | Hobart': 1,
 'Southbank, Melbourne': 7,
 'amy.coopes at croakey.org': 1,
 'Abu Dhabi, United Arab Emirates': 1,
 'Dharawal country': 1,
 'North East, England': 15,
 'Sydney, New South Wales': 56,
 'The Oceans • The Skies • The Deep Breathing Tides': 131,
 'France': 13,
 "King's College London": 1,
 '2A Bow Lane, London, EC4M 9EE': 1,
 'London & NW England': 8,
 'Melbourne, Australia': 29,
 'James Town - Accra, Ghana ': 1,
 'West Lancashire': 3,
 'Madrid, Comunidad de Madrid': 3,
 'Kingston upon Hull': 7,
 '🇺🇸 🌍': 2,
 'Hertfordshire UK': 2,
 'Scotland': 22,
 'Greensboro, NC': 6,
 'United States, #RhodeIsland': 25,
 'National: UK': 2,
 'Currently in Texas': 4,
 'www.westwickhamfitness.com': 4,
 'Wisconsin': 6,
 'Johnny depp': 1,
 'Santa Cruz Mountains': 1,
 'Never wonder wher i am☀': 7,
 'Warlingham,Surrey': 1,
 'Gold Coast, Queensland': 10,
 'Bury St Edmunds, UK': 2,
 'Sydney': 31,
 'Chicago, IL': 37,
 'Melbourne': 49,
 'Canberra': 31,
 'Gold Coast, Australia': 3,
 'Dallas, TX': 34,
 'The Glorious North': 1,
 'Gosforth, England': 1,
 'Lincolnshire, United Kingdom': 11,
 'Victoria, Australia ': 3,
 'Melbourne, Victoria': 55,
 'Australia': 252,
 'Navajo Nation, NM': 2,
 'New Jersey, USA': 347,
 'मुंबई, भारत': 104,
 'Vancouver, BC, Canada': 3,
 'In the clouds': 1,
 'Berlin Germany/Johannesburg': 1,
 "Where there's 🌤 🐈🌷 🎶🍕🏈🍺": 2,
 'Pasadena, CA': 1,
 'hyderabad': 1,
 'NYS': 1,
 'Adelaide, Australia': 4,
 '#australia': 3,
 'The Caribbean': 1,
 'California #WestCoastBestCoast': 1,
 'Cornelius, NC': 1,
 'El Paso, TX': 3,
 'NC ': 2,
 'New England': 5,
 '13340': 1,
 'Sydney, Australia': 23,
 'Wollongong': 5,
 'Wollongong, New South Wales': 1,
 'We are global!': 47,
 'Ontario, Canada': 68,
 'Florida, USA': 50,
 'Worldwide - Sydney, Australia': 2,
 'Niagara Falls,  Ontario,  🇨🇦': 6,
 'Campbelltown, Sydney, Aust': 1,
 'Alabama, USA': 3,
 'Perth, Western Australia 🇦🇺': 1,
 'earth': 2,
 'Hiding in my sock drawer': 1,
 'อ.เมืองนครราชสีมา': 2,
 'Miami Beach, FL': 5,
 'Regina, SK / Ottawa, ON': 2,
 'Riverside, CA': 26,
 'LivingOnStolen Yuggera country': 1,
 'Queens, NY': 12,
 'Morayfield, Australia': 12,
 'Kenwood, Chicago': 2,
 'Sept 2020: Now PERTH, ON 🇨🇦': 2,
 'Quebec, Canada': 6,
 'London  UK': 1,
 'GTA, Canada': 3,
 'Undisclosed Location': 1,
 'Pacific Northwest': 4,
 'Hillsborough, NJ': 3,
 'North Ridgeville, OH': 6,
 'Huddersfield': 2,
 'Queensland': 6,
 'Vienna, Virginia USA': 2,
 'Asheville, NC': 5,
 'Buffalo, NY (he/him)': 1,
 'Isle of Emma': 1,
 'Kansas City Missouri': 2,
 'CA': 7,
 'New York City🇺🇸🗽': 1,
 'British Columbia, Canada': 7,
 'San Rafael, CA': 6,
 'Idaho': 3,
 'Hampshire': 1,
 'Lancaster, PA ': 2,
 'Lancaster, PA': 1,
 'manchester': 3,
 'Wurundjeri land': 2,
 'عجمان, الامارات العربية المتحد': 1,
 'Nakuru, Kenya': 8,
 'Liverpool, England': 6,
 'San Diego, CA': 18,
 'London N.16, UK': 1,
 'Maryland, USA': 9,
 'Mississippi, USA': 5,
 'Phoenix, Arizona, USA': 19,
 'South East, England': 7,
 'Glasgow, UK': 1,
 'Alcaztralia - Prisoners Island': 2,
 'Greenwich, London': 1,
 'US & UK': 4,
 'Twickenham, UK': 3,
 'Stockton-on-Tees, England': 1,
 'Midhurst': 1,
 'Derry/Londonderry, N. Ireland': 2,
 'SE London': 1,
 'TreeHugger': 1,
 'Yorkshire and The Humber': 4,
 'Stratford-o-Avon, Warwickshire': 1,
 'Glasgow, Scotland': 10,
 'London and Windsor': 1,
 'Lancashire UK ': 1,
 'New York City ': 4,
 '# NYC': 1,
 '92-08 222nd St, Queens Village': 1,
 'Nyalenda Kisumu-Kenya': 6,
 'Portland, Oregon': 5,
 'Santa Fe, NM': 10,
 'Morris County, New Jersey': 3,
 'In Your Fantasies': 1,
 'From ILLINOIS/Now n Arkansas. ': 1,
 'Arlington, TX': 2,
 'Kingston, Jamaica': 5,
 'Join our email list below': 3,
 'Brooklyn, New York': 2,
 'West Caldwell, NJ': 3,
 'UTMB': 2,
 'valencia( ESPAÑA)': 1,
 'Kano': 4,
 'Vienna': 3,
 'Nashville, TN': 2,
 'Austin TX': 1,
 'Ann Arbor, Michigan': 3,
 'Minot, ND': 1,
 'Buenos Aires, Argentina': 7,
 'mumbai': 3,
 'Paris, France': 2,
 'Athens': 3,
 'San Francisco, CA': 30,
 'Internet': 2,
 'Kazakhstan, Almaty': 2,
 'Sacramento, CA': 6,
 'Harrogate': 1,
 'Canton, CT': 6,
 'Mona Kingston Jamaica\nThe Univ': 1,
 'Harlem, New York': 4,
 'My House': 1,
 'Leicestershire & Rutland': 1,
 'Taita Taveta, Kenya': 2,
 'Argyll (Scotland)': 1,
 'new york (united nations)': 1,
 'Nairobi and Kakamega County': 3,
 'Amsterdam NY': 15,
 'Accra': 2,
 'Kansas City, MO': 1,
 'Oregon, USA': 30,
 'Doncaster, England': 4,
 'New Brunswick, Canada': 2,
 'Idk, help ': 1,
 'Colorado, USA': 21,
 'Worldwide ': 6,
 'Hamilton, Ontario': 4,
 'South of Dysfunction': 1,
 'Montreal': 2,
 'Whadjuk Country': 2,
 'Canberra, Ngambri/Ngunnawal ': 2,
 'None of your business': 5,
 'Lancashire': 1,
 'Stockholm, Schweden': 1,
 'Staying At Home Protecting NHS': 2,
 'New Orleans': 8,
 'Россия': 1,
 'New South Wales, Australia': 18,
 'My House ': 1,
 'United Kingdom ': 44,
 "Gen's Breast": 1,
 'Concord, MA': 2,
 'Whadjuk': 2,
 'Philippines': 1,
 'Kenton Ohio 43326': 1,
 'Bedfordshire': 3,
 'Indiana': 1,
 'Warwick, Rhode Island': 1,
 'Niedersachsen, Hannover': 1,
 'Beyond the veil...': 1,
 'Dundalk': 1,
 'Miami-Dade County': 1,
 'Cardiff, Wales': 4,
 'Belfast, Northern Ireland.': 3,
 'Ngunnawal Country, Canberra': 1,
 'Strasbourg, France': 6,
 'Statesville, NC': 1,
 'Berlin, Deutschland': 34,
 'Sydney, NSW Australia': 4,
 'currently in your MIND': 1,
 'Washington, DC Metro Area': 1,
 'Cape Coast, Ghana.': 1,
 'Bartlett, NH': 1,
 'Walthamstow, same as Grandad.': 1,
 'New Delhi NCR': 4,
 'Australia ': 4,
 'Pittsburgh, PA': 8,
 'GMT+5': 1,
 'Harpenden, East': 1,
 'Unceded Tatungalung': 1,
 'Queens Park, London': 2,
 'Saturn': 1,
 'Ramsgate, Kent, UK': 1,
 'Kangarilla, South Australia': 1,
 'Adelaide Australia': 3,
 'Leicestershire, UK 🇬🇧': 1,
 'Accra, Ghana': 13,
 'Estadio Camp Nou': 2,
 'Hungary and sometimes Oxford, UK': 1,
 'Deutschland': 7,
 'Waterford, Ireland': 4,
 'Birmingham, England': 22,
 'Kisumu, Kenya': 3,
 'Spain': 3,
 'Madagascar': 6,
 'Meanjin/Brisvague': 1,
 'Sweden, Gothenburg': 1,
 'Lutruwita/Tasmania': 2,
 '#Lancashire': 4,
 'Αττική, Ελλάς': 4,
 'Riverside ': 1,
 'South Australia': 10,
 'South East': 1,
 'Republic of Slovenia': 3,
 'Mackay, Queensland': 1,
 'Brussels, Belgium': 9,
 'International. ': 1,
 'WORLD': 1,
 'Ghana': 8,
 '.': 2,
 'Brooklyn , NY': 1,
 'Kisumu City -Kenya': 6,
 'Hobart, Tasmania': 2,
 "Don't blink. :)": 1,
 'Glasgow, Scotland.  Beatthefix': 1,
 'Traveling the West Coast': 1,
 'Southend, England': 1,
 'Sol System': 2,
 'New Mexico': 2,
 'Liverpool': 9,
 'Greece / Lancashire': 3,
 'London and Kent': 1,
 'Oxford, England': 2,
 'Madrid, Spain': 2,
 'Adelaide South Australia': 3,
 'Madrid': 1,
 'South West, England': 12,
 'Grimsby, England': 8,
 'World': 8,
 'Westbury Park Bristol': 1,
 'Yate,South Gloucestershire': 1,
 'Bristol, England': 5,
 '4-6 Cannon st, Bristol BS3 1BN': 1,
 'all over the place': 1,
 'Wichita, Kansas': 1,
 'Barcelona': 3,
 'istanbul': 1,
 'corrupt, criminal australia': 1,
 'Hamburg, Deutschland': 1,
 'Holmfirth': 1,
 'swansea': 1,
 'Valletta': 1,
 'PoliceDV@protonmail.com': 3,
 'Cheshire, England': 2,
 '🌍': 1,
 'West Coast Of Canada': 1,
 'Helsinki': 3,
 'V i b e': 1,
 'Albuquerque': 4,
 'Gumbaingirr Nation': 1,
 'Madurai South, India': 2,
 'Midlands, Zimbabwe': 9,
 'Ecuador': 1,
 'Nevada City CA': 2,
 'Ngunnawal and Ngambri land': 2,
 'Queensland Uni of Technology': 6,
 'Preston, UK': 1,
 'Eldoret, Kenya': 25,
 'Tajikistan, Poland ': 1,
 'Wales': 5,
 'Chennai, India ': 1,
 'Unceded Wurundjeri land': 1,
 'Lawson, Blue Mountains': 6,
 'Narnaul, India': 1,
 'Gadigal Country': 3,
 'Chromatica': 1,
 'Prospect Heights, IL': 1,
 'Gadigal Country. NSW': 5,
 'San Diego': 4,
 'Western Australia': 2,
 'Roma, Lazio': 1,
 'Canada ': 3,
 'Blackburn - Dubai - Islamabad': 1,
 'Philadelphia, PA': 10,
 'NY': 4,
 'ÜT: 42.998102,-81.222953': 2,
 'Dorset U.K': 1,
 'Australia-wide city, rural': 1,
 'Hudson, NY': 2,
 'sydney, australia': 2,
 'St Kilda: Melbourne, AUSTRALIA': 1,
 'Vic, Aus': 2,
 '355 Waimanu Road, Suva, Fiji/Lot 11 Naiyaca, Sub Division Labasa, Fiji': 1,
 'Walcha, New South Wales': 1,
 'On Gaibul/Jarrowair country.': 1,
 'Sunshine Coast, Kabi Kabi land': 6,
 'Brooklyn, New York ': 2,
 'The TARDIS': 1,
 'Michigan, USA': 5,
 'Here&There': 4,
 'Elmhurst, Queens': 1,
 'Australia & SE Asia': 2,
 'Astana Anyar, Indonesia': 1,
 'Brisbane City, Brisbane': 2,
 'Pennsylvania, USA': 4,
 'Suva, Fiji': 7,
 'Winterfell 🐺 #winteriscoming': 1,
 'Texas': 21,
 'Arkansas': 7,
 'Adelaide, South Australia': 15,
 'the world of Harajuku ': 16,
 'Second star to the right...': 1,
 'San Luis Valley, Colorado, USA': 1,
 'Somewhere near Lake Ontario': 1,
 'Down Yonder': 2,
 'Memphis, TN': 2,
 'Cincinnati Ohio': 2,
 'University of Melbourne': 1,
 'Katy, TX': 4,
 'karma serves U your own poison': 1,
 'A real person in the USA ': 1,
 'Rocky View County, Alberta': 1,
 'Newcastle, NSW, Australia': 4,
 'Sverige': 2,
 'St. Paul, MN': 1,
 'Scotland, United Kingdom': 9,
 'Wasilla, Ak': 2,
 'Los Angeles, CA👁🎤🎹🎼🖋🕺🏾': 1,
 'Toledo, OH': 1,
 'River Grove, IL': 1,
 'Hemet, CA, USA': 2,
 'Inner edge of the Orion-Cygnus': 1,
 'Below the Mason-Dixon line ': 1,
 'Vancouver, Canada ': 2,
 '🌴🌴🌊🌊🥃🥃🌴🌴': 1,
 'Oklahoma': 2,
 'Liverpool ': 1,
 'Virginia, U.S.A.': 1,
 'Darug Country / Western Sydney': 1,
 'Shitter Island': 1,
 'Awabakal & Worimi lands': 1,
 'Virginia, USA': 10,
 'Isle of Man': 1,
 'Brisbane, Queensland': 30,
 'North West, England': 16,
 'south coast': 1,
 'Ngunnawal Country (Canberra)': 2,
 'La Grange Park, IL': 1,
 'Eastbourne, England': 8,
 'Florida': 9,
 'Nottingham': 5,
 'Oakland, CA': 3,
 'Liphook, England': 1,
 'Ithaca, NY': 1,
 'England': 16,
 'Djabuganjdi Lands, Oz': 3,
 'South Melbourne, Australia': 1,
 'Florida and Ontario': 1,
 'Hogwarts house: Slytherin ': 1,
 'Medicine Hat, Alberta': 1,
 'Indianapolis, IN': 6,
 'Chicago': 5,
 'she/her ✨': 1,
 'https://twitter.com/JKGordon3': 3,
 'Edmonton, Alberta, Canada': 2,
 'Montréal (Québec) Canada': 1,
 'Hull, England': 1,
 'Flanders': 1,
 'Belfast': 2,
 'North Wales': 10,
 'Belleville, Ontario': 4,
 'LA': 1,
 'Limerick, Ireland': 1,
 'Kyrgyzstan': 2,
 'uk': 4,
 'Tampa, FL': 1,
 'Gard, Occitanie, SE France': 3,
 'Albany, New York': 1,
 'West Mercia, England': 1,
 'Lexington, MI': 2,
 'London ': 4,
 'Torbay, England': 2,
 '🏳️': 1,
 'South Yorkshire, England': 1,
 'Dallas, Texas U.S.A': 1,
 'Falkirk, Stirlingshire': 1,
 'London UK': 9,
 '1984': 1,
 'Maryland': 5,
 'Birmingham, United Kingdom': 1,
 'Lagos Nigeria': 8,
 'Fort Wayne, IN ': 1,
 'Slovak Republic, Europe': 1,
 'Karachi Pakistan': 1,
 'TEXAS': 1,
 'https://twitter.com/luciagrey2': 2,
 'Freudenstadt Germany': 2,
 'Wishes Resort Daytona Beach FL': 2,

In [25]:
for country in tqdm(cou_dic.keys()):
    if country not in countries_africa or country.split(',')[-1] not in countries_africa:
        final_df.drop(final_df[final_df['location'] == country].index, inplace = True)

100%|██████████████████████████████████████████████████████████████████████████████| 4145/4145 [01:14<00:00, 55.35it/s]

In [26]:
#showing the number of rows and columns in the dataset

final_df.shape

(5699, 12)

In [27]:
#viewing the first 5 rows of the dataset

final_df.head()

                 Unnamed: 0  \
childmarriage 1           1
              2           2
              3           3
              4           4
              6           6

                                                            Tweets  \
childmarriage 1  b'This is a pressing issue that requires a res...
              2  b'RT @GirlsNotBrides: By ending #childmarriage...
              3  b'We work on amplifying #YOUTH voices against ...
              4  b'RT @unwomenlebanon: In \xf0\x9f\x87\xb1\xf0\...
              6  b'Is Pakistan safe for girls as child marriage...

                                  id  lens                 date place  \
childmarriage 1  1390632539870609411   153  2021-05-07 11:40:08   NaN
              2  1390625672201183232   140  2021-05-07 11:12:51   NaN
              3  1390604516295430149   299  2021-05-07 09:48:47   NaN
              4  1390596270490800128   140  2021-05-07 09:16:01   NaN
              6  1390570117038178306   130  2021-05-07 07:32:06   NaN

                coordinateS lang               source  likes  retweets  \
childmarriage 1         NaN   en          NbM Tweeter      0         0
              2         NaN   en   Twitter for iPhone      0         9
              3         NaN   en  Twitter for Android      3         0
              4         NaN   en      Twitter Web App      0        21
              6         NaN   en      Twitter Web App      0         0

                location
childmarriage 1      NaN
              2      NaN
              3      NaN
              4      NaN
              6      NaN

In [28]:
import re #for regular expression

In [29]:
def getHashtags(tweet):
    """
    This function extracts hashtags
    from tweets
    """
    tweet = tweet.lower()  #has to be in place
    tweet = re.findall(r'\#\w+',tweet) # Remove hastags with REGEX
    return " ".join(tweet)

In [30]:
#creating a new column while applying the getHashtags function

final_df['Hashtags'] = final_df['Tweets'].apply(getHashtags)
final_df.head()

                 Unnamed: 0  \
childmarriage 1           1
              2           2
              3           3
              4           4
              6           6

                                                            Tweets  \
childmarriage 1  b'This is a pressing issue that requires a res...
              2  b'RT @GirlsNotBrides: By ending #childmarriage...
              3  b'We work on amplifying #YOUTH voices against ...
              4  b'RT @unwomenlebanon: In \xf0\x9f\x87\xb1\xf0\...
              6  b'Is Pakistan safe for girls as child marriage...

                                  id  lens                 date place  \
childmarriage 1  1390632539870609411   153  2021-05-07 11:40:08   NaN
              2  1390625672201183232   140  2021-05-07 11:12:51   NaN
              3  1390604516295430149   299  2021-05-07 09:48:47   NaN
              4  1390596270490800128   140  2021-05-07 09:16:01   NaN
              6  1390570117038178306   130  2021-05-07 07:32:06   NaN

                coordinateS lang               source  likes  retweets  \
childmarriage 1         NaN   en          NbM Tweeter      0         0
              2         NaN   en   Twitter for iPhone      0         9
              3         NaN   en  Twitter for Android      3         0
              4         NaN   en      Twitter Web App      0        21
              6         NaN   en      Twitter Web App      0         0

                location                                           Hashtags
childmarriage 1      NaN  #childmarriage #endchildmarriage #humanrights ...
              2      NaN                                     #childmarriage
              3      NaN  #youth #fgm #childmarriage #africa #foreverychild
              4      NaN
              6      NaN                           #pakistan #childmarriage

In [31]:
#viewing the last 5 rows of the dataset

final_df.tail()

                    Unnamed: 0  \
sexualviolence 766         766
               769         769
               771         771
               775         775
               777         777

                                                               Tweets  \
sexualviolence 766  b'RT @Victim_Focus: Our groundbreaking study o...
               769  b'RT @Victim_Focus: Our groundbreaking study o...
               771  b'RT @Victim_Focus: Our groundbreaking study o...
               775  b'RT @Victim_Focus: Our groundbreaking study o...
               777  b'RT @Victim_Focus: Our groundbreaking study o...

                                     id  lens                 date place  \
sexualviolence 766  1387827808601268224   140  2021-04-29 17:55:08   NaN
               769  1387827226486398979   140  2021-04-29 17:52:50   NaN
               771  1387826146566451200   140  2021-04-29 17:48:32   NaN
               775  1387825091426271232   140  2021-04-29 17:44:20   NaN
               777  1387824605847556099   140  2021-04-29 17:42:25   NaN

                   coordinateS lang               source  likes  retweets  \
sexualviolence 766         NaN   en   Twitter for iPhone      0        37
               769         NaN   en      Twitter Web App      0        37
               771         NaN   en      Twitter Web App      0        37
               775         NaN   en  Twitter for Android      0        37
               777         NaN   en   Twitter for iPhone      0        37

                   location Hashtags
sexualviolence 766      NaN
               769      NaN
               771      NaN
               775      NaN
               777      NaN

In [33]:
final_df[final_df['location'] == 'Nigeria']

                       Unnamed: 0  \
childmarriage    240          240
                 391          391
domesticviolence 852          852
                 868          868
                 3971        3971
...                           ...
sexualassault    901          901
                 956          956
                 1021        1021
sexualviolence   206          206
                 710          710

                                                                  Tweets  \
childmarriage    240   b"RT @GirlsNotBrides: 'What child wants the re...
                 391   b'RT @adeleye_demola: Young girls who marry ea...
domesticviolence 852   b'RT @SOIBIGOLD: Pictures from FEARLESS (4th E...
                 868   b'Pictures from FEARLESS (4th Edition)\n#women...
                 3971  b'*HE STOLE HER PRIDE* _E PLUS The Storyteller...
...                                                                  ...
sexualassault    901   b'Why do bystanders, who have an opportunity t...
                 956   b"RT @vidi_initiative: Live discussion on' Und...
                 1021  b'RT @tvcnewsng: #NewsFlash Lagos State Commis...
sexualviolence   206   b'RT @hhri_org: Still, we know very little abo...
                 710   b'RT @hhri_org: Today is #denimday2021. Wear j...

                                        id  lens                 date place  \
childmarriage    240   1389646672653733888   140  2021-05-04 18:22:39   NaN
                 391   1389190528038809603   140  2021-05-03 12:10:06   NaN
domesticviolence 852   1390298758534074368   140  2021-05-06 13:33:49   NaN
                 868   1390296992467800066   133  2021-05-06 13:26:48   NaN
                 3971  1388497348309962755   299  2021-05-01 14:15:39   NaN
...                                    ...   ...                  ...   ...
sexualassault    901   1388057606061703168   165  2021-04-30 09:08:16   NaN
                 956   1387927852885098496   140  2021-04-30 00:32:41   NaN
                 1021  1387833356834979847   140  2021-04-29 18:17:11   NaN
sexualviolence   206   1389545112284315650   140  2021-05-04 11:39:05   NaN
                 710   1387978180250767363   139  2021-04-30 03:52:40   NaN

                      coordinateS lang               source  likes  retweets  \
childmarriage    240          NaN   en   Twitter for iPhone      0        23
                 391          NaN   en   Twitter for iPhone      0         3
domesticviolence 852          NaN   en   Twitter for iPhone      0         3
                 868          NaN   en  Twitter for Android      5         3
                 3971         NaN   en  Twitter for Android      0         0
...                           ...  ...                  ...    ...       ...
sexualassault    901          NaN   en  Twitter for Android      1         0
                 956          NaN   en  Twitter for Android      0         2
                 1021         NaN   en  Twitter for Android      0         7
sexualviolence   206          NaN   en   Twitter for iPhone      0         2
                 710          NaN   en   Twitter for iPhone      0         1

                      location  \
childmarriage    240   Nigeria
                 391   Nigeria
domesticviolence 852   Nigeria
                 868   Nigeria
                 3971  Nigeria
...                        ...
sexualassault    901   Nigeria
                 956   Nigeria
                 1021  Nigeria
sexualviolence   206   Nigeria
                 710   Nigeria

                                                              Hashtags
childmarriage    240
                 391
domesticviolence 852   #womensafehouse #domesticviolence #storytelling
                 868   #womensafehouse #domesticviolence #storytelling
                 3971         #crimesagainstchildren #domesticviolence
...                                                                ...
sexualassault    901                               #sexualassault #gbv
                 956                              #sexualassault #saam
                 1021                                       #newsflash
sexualviolence   206                       #sexualviolence #lgbtpeople
                 710   #denimday2021 #supportsurvivors #sexualviolence

[102 rows x 13 columns]

In [37]:
#saving data compiled to CSV

final_df.to_csv("GBV_Data.csv", index=False)